.graph-cont {
    height: 300px;
    width: 100%;
}

.range-btns-cont  {
    display: block;
    float:right;
    visibility: hidden;
    margin: 6px 6px;
}

#btnSave  {
    display: block;
    float:left;
    /*visibility: hidden;*/
    margin: 6px 6px;
}
